/* resume */
html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #2f3069;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

nav {
  font-size: 24px;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #2f3069;
  text-align: left;
  font-size: 38px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main resume wrapper */
.resume {
  padding: 0px;
  max-width: 1050px;
  margin: 0 auto;
}

.navy ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 10;
}

.navy a {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.nav-active a {
  font-weight: 600;
  text-decoration: underline;
}

.decorative-line {
  position: relative;
  width: 1100px;
  height: 2px;
  background: #8d90ad;
  margin: 0px auto;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.resume-section {
  margin-bottom: 30px;
  line-height: 1.4;
}

.resume-section h2 {
  border-bottom: 2px dashed #bbbbdb;
  line-height: 1.4;
  margin-bottom: 0px;
}

.btn {
  background-color: rgb(69, 69, 100);
  color: #f5f1ff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 8px;
  margin-top: 12px;
}

.work-item {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 20px;
  margin: 16px 0;
}

.work-details h3,
.work-details p,
.work-summary p {
  margin: 2px 0;
}

.work-summary {
  margin: 0;
}

/* Footer */
footer {
  background: #282a43;
  color: #f7f4ef;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 20px;
}

footer img {
  height: 24px;
}
