// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #2f3069;
  text-align: center;
  font-size: 17px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  margin-left: 1%;
}
.gallery figure {
  margin: 19px 0px;
}
.header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #2f3069;
  text-align: left;
  font-size: 38px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  font-size: 23px;
}

.top-bar .header {
  margin: 1;
  text-align: left;
}

.navy ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 10;
  padding: 0;
}

.navy a {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.para {
  margin-top: 6px;
  font-size: 18px;
  line-height: 1.6;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.about {
  margin-top: -20px;
  font-size: 26px;
}
.decorative-line {
  position: relative;
  width: 1100px;
  height: 2px;
  background: #8d90ad;
  margin: 90px auto;
  margin-bottom: 50px;
}
.decorative-line2 {
  position: relative;
  width: 1310px;
  height: 2px;
  background: #8d90ad;
  margin: -20px auto;
  margin-bottom: 40px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #2f3069;
  text-align: left;
  font-size: 20px;
  margin-left: 100px;
  width: 1250px;
  margin-bottom: -20px;
}

.limo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 3fr); 
  gap: 40px; 
  max-width: 1400px;
  margin: 20px auto; 
  padding: 0px 60px;
  margin-left: 20px;
  margin-bottom: 70px;
}

.limo-gallery figure {
  margin: 0;
}

.limo-gallery img {
  width: 100%;  
  height: auto; 
  display: block;
}

.next-page {
  display: inline-flex;
 position: relative;
  bottom: 20px;
  gap: 10px;
right: -580px;
left: auto;
  color: #2f3069;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;      
}

.home-page {
  display: inline-flex;
 position: relative;
  bottom: 20px;
  gap: 10px;
right: auto;
left: -600px;
  color: #2f3069;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;      
}

.row {
  display: flex; 
  flex-wrap: wrap;
  padding: -4px;
  margin-top: -1360px;
  margin-left: 530px;
  gap: 0px;
}

.column {
  flex: 25%;
  max-width: 10%;
  padding: 0 7px;
  margin-left: 30px;
  gap: 20px 10px;
  column-gap: 60px;

}
.stanford-gallery {
     display: flex; 
     align-content: center;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: -540px;
  margin-left: 930px;
  gap: 0px;
}
.one {
     display: flex; 
  padding: -4px;
  margin-top: -30px;
  margin-left: 520px;
  gap: 0px;
}



/* resume */
.resume header::before {
  background-size: cover;
  content: "";
  display: block;
  height: 175px;
}
.resume-section {
  margin-bottom: 30px;
  line-height: 1.2;
}
.resume-section h2 {
  border-bottom: 2px dashed #bbbbdb;
  line-height: 1.8;
}
.download-link {
  position: fixed;
  top: 5px;
  left: 5px;     
  margin: 0;     
}


/* Profile 
-------------------------------------*/

/* Work Experience 
-------------------------------------*/
.work-item {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}
.work-item {
  margin: 40px;
   margin-left: 180px;
   width: 380 px;
}
.work-summary {
  margin: 15px;
  margin-left: 20px;
}
/* Education 
-------------------------------------*/

/* FOOTER 
-------------------------------------*/
footer {
  background: #282a43;
  color: #f7f4ef;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}


.contact {
  background-color: rgb(45, 45, 98);
  color: #e7e7e7;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline-block;
  padding: 10px 100px;
  border-radius: 8px;
  margin-top: 12px;
}


/*.limo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  max-width: 1400px;
  margin: 0px 8px;
  padding: 20px;
}

.work-gallery figure {
  margin: 10px;
  gap: -20px;
}
